In [ ]:
!pip install git+https://github.com/kmadathil/kerala_math.git

# Comparison of Methods to Compute पठितज्या

For a backgrounder on Indian Trigonometry, the idea of jya and Aryabhata's table, see [this article](https://blog.madathil.org/2021/05/04/stringing-the-bow-a-backgrounder-on-indian-trigonometry-and-the-concept-of-jya/)

For the improved tables of Nilakantha Somayaji and Sankaravarman, see [this article](https://blog.madathil.org/2021/06/08/improving-the-jya-table/)

In this notebook, we compare Aryabhata's jya table with the tables of the Kerala School and modern values to see exactly how accurate they are

In [1]:
import numpy as np
import pandas as pd
from kerala_math.jyatable.aryabhata import pindajya as a_jya
from kerala_math.jyatable.tantrasangraha import pindajya as t_jya
from kerala_math.jyatable.laghuvivrti import pindajya as l_jya
from kerala_math.jyatable.madhava import pindajya as m_jya
from kerala_math.jyatable import MST

### Assembly

First, we load all the tabular jya approximations from our library. Then, we setup a dataframe to hold all the values and assemble them into it.

In [2]:
# Get all tabular jyas
aryabhata_jya = [a_jya(i) for i in range(24)]
tantrasangraha_jya = [MST(t_jya(i)) for i in range(24)]
laghuvivrti_jya = [MST(l_jya(i))  for i in range(24)]
madhava_jya = [m_jya(i)  for i in range(24)]

In [3]:
comparison_table = pd.DataFrame([], index=range(1,25), columns=["Aryabhata", "Tantrasangraha", "Laghuvivrti", "Madhava", "Modern"])

In [4]:
comparison_table["Aryabhata"] = aryabhata_jya
comparison_table["Tantrasangraha"] = tantrasangraha_jya
comparison_table["Laghuvivrti"] = laghuvivrti_jya
comparison_table["Madhava"] = madhava_jya

Modern sine for the 24 tabular point - translated to Rsines for the standard circle of radius 21600

In [5]:
comparison_table["Modern"]  = [MST(x) for x in (np.sin(np.array(range(1,25))*np.pi/48) * 21600/(2*np.pi))]

### Display

Now, view the comparsion. 

We can see that Aryabhata is accurate to the minute. Laghuvivrti to a few seconds, and Madhava to thirds compared to modern values.

In [6]:
comparison_table

    Aryabhata Tantrasangraha    Laghuvivrti     Madhava         Modern
1         225     224,50,0,0    224,50,22,0   224,50,22   224,50,21,49
2         449   448,42,13,37    448,42,58,1   448,42,58   448,42,57,35
3         671    670,39,9,19   670,40,16,55   670,40,16    670,40,16,2
4         890   889,43,45,11   889,45,17,10   889,45,15   889,45,15,36
5        1105  1104,59,43,37   1105,1,41,33   1105,1,39   1105,1,38,56
6        1315  1315,31,45,42  1315,34,11,31   1315,34,7   1315,34,7,26
7        1520  1520,25,45,33  1520,28,41,30  1520,28,35  1520,28,35,27
8        1719    1718,49,4,4  1718,52,32,46  1718,52,24  1718,52,24,11
9        1910  1909,50,42,38  1909,54,46,57  1909,54,35  1909,54,35,11
10       2093   2092,41,36,2   2092,46,19,8   2092,46,3   2092,46,3,29
11       2267  2266,34,45,13  2266,40,10,30  2266,39,50  2266,39,50,12
12       2431  2430,45,29,17  2430,51,40,20  2430,51,15  2430,51,14,35
13       2585  2584,31,36,59  2584,38,37,34   2584,38,6   2584,38,5,31
14       2728  2727,13,37,36  2727,21,31,36  2727,20,52  2727,20,52,22
15       2859   2858,14,51,2  2858,23,42,25  2858,22,55   2858,22,55,6
16       2978   2977,1,37,15   2977,11,30,3  2977,10,34  2977,10,33,43
17       3084    3083,3,25,0  3083,14,23,12  3083,13,17  3083,13,16,56
18       3177  3175,52,59,31     3176,5,7,7   3176,3,50   3176,3,49,57
19       3256   3255,6,29,41  3255,19,50,32  3255,18,22  3255,18,21,34
20       3321   3320,23,34,1  3320,38,11,52  3320,36,30  3320,36,30,12
21       3372   3371,27,26,0  3371,43,24,23  3371,41,29   3371,41,29,8
22       3409   3408,4,58,21  3408,22,20,35  3408,20,11  3408,20,10,56
23       3431   3430,6,46,22  3430,25,35,30  3430,23,11  3430,23,10,38
24       3438  3437,27,10,26  3437,47,29,10  3437,44,48  3437,44,48,22

## The Madhava Verse and Encoding
श्रेष्ठं नाम वरिष्ठानां etc.

In [8]:
from kerala_math.jyatable.madhava import madhava_verse
madhava_table = pd.DataFrame([], index=range(1,25), columns=["Verse", "Value"])
madhava_table["Verse"] = madhava_verse
madhava_table["Value"] = madhava_jya
madhava_table["Modern"]  =  comparison_table["Modern"]
madhava_table

                      Verse       Value         Modern
1   श्रेष्ठं नाम वरिष्ठानां   224,50,22   224,50,21,49
2        हिमाद्रिर्वेदभावनः   448,42,58   448,42,57,35
3       तपनो भानु सूक्तज्ञो   670,40,16    670,40,16,2
4       मध्यमं विद्धि दोहनं   889,45,15   889,45,15,36
5       धिगाज्योनाशनं कष्टं   1105,1,39   1105,1,38,56
6         छन्नभोगाशयाम्बिका   1315,34,7   1315,34,7,26
7          मृगाहारो नरेशोयं  1520,28,35  1520,28,35,27
8          वीरो रणजयोत्सुकः  1718,52,24  1718,52,24,11
9      मूलं विशुद्धं नाळस्य  1909,54,35  1909,54,35,11
10        गानेषु विरळा नराः   2092,46,3   2092,46,3,29
11   अशुद्धिगुप्ता चोरश्रीः  2266,39,50  2266,39,50,12
12      शङ्कुकर्णो नगेश्वरः  2430,51,15  2430,51,14,35
13      तनुजो गर्भजो मित्रं   2584,38,6   2584,38,5,31
14      श्रीमानत्र सुखी सखे  2727,20,52  2727,20,52,22
15      शशी रात्रौ हिमाहारौ  2858,22,55   2858,22,55,6
16     वेगज्ञः पथि सिन्धुरः  2977,10,34  2977,10,33,43
17         छायालयो गजो नीलो  3083,13,17  3083,13,16,56
18   निर्मलो नास्ति सत्कुले   3176,3,50   3176,3,49,57
19    रात्रौ दर्पणमभ्राङ्गं  3255,18,22  3255,18,21,34
20        नागस्तुङ्गनखो बली  3320,36,30  3320,36,30,12
21        धीरो युवा कथालोलः  3371,41,29   3371,41,29,8
22      पूज्यो नारीजनैर्भगः  3408,20,11  3408,20,10,56
23       कन्यागारे नागवल्ली  3430,23,11  3430,23,10,38
24    देवो विश्वस्थली भृगुः  3437,44,48  3437,44,48,22