# The Madhava व्यासे वारिधनिहते Series

The famous Madhava series for circumference relates the circumference and diameter of a circle using the infinite series: 

 $C = 4d - \frac{4d}{3} + \frac{4d}{7} - \frac{4d}{9} ...$
 
This is equivalent to 

$\frac{\pi}{4} = 1 - \frac{1}{3} + \frac{1}{7} - \frac{1}{9} ...$

If you are curious about the history of this series, and how this was derived etc., please see this [series of blogposts on this topic](https://blog.madathil.org/2021/04/01/the-logic-behind-%e0%a4%b5%e0%a5%8d%e0%a4%af%e0%a4%be%e0%a4%b8%e0%a5%87-%e0%a4%b5%e0%a4%be%e0%a4%b0%e0%a4%bf%e0%a4%a7%e0%a4%bf%e0%a4%a8%e0%a4%bf%e0%a4%b9%e0%a4%a4%e0%a5%87/)

The kerala_math library can compute this series, with our without correction terms.

## Preliminaries

In [11]:
import kerala_math.series as kms
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.12f}'.format

## Our Target value for $\pi$

In [12]:
from math import pi
pi

3.141592653589793

## Convergence without a correction term

Without a correction term, convergence is very slow. Even after a 100 terms, we do not have anything close to usable. However, we note that the error is very close to $\frac{1}{n}$, where $n$ is the number of terms we chose to compute in the series

In [13]:
terms = [10, 20, 30, 40, 50, 100]
series_none = pd.DataFrame(dtype=np.float64, index=terms, columns=["Result", "Error"])
for t in terms:
    series_none.loc[t, "Result"] = np.float64(kms.vyase(1, t, samskara=None))   # d=1, t terms, no correction factor
series_none.loc[:, "Error"] = pi - series_none.loc[:, "Result"]    
series_none

            Result          Error
10  3.041839618929 0.099753034660
20  3.091623806668 0.049968846922
30  3.108268566699 0.033324086891
40  3.116596556794 0.024996096796
50  3.121594652591 0.019998000999
100 3.131592903559 0.009999750031

## Convergence with first order correction

The first order correction term is $C_p = \frac{4d}{2(p+1)} = \frac{4d}{4n}$ where p is the last denominator, and n is the number of terms, such that $p = 2n-1$

This gives reasonable convergence, but needs a lot of terms. After 100, we're still at 6 significant digits after the decimal point

In [14]:
series_one = pd.DataFrame(dtype=np.float64, index=terms, columns=["Result", "Error"])
for t in terms:
    series_one.loc[t, "Result"] = np.float64(kms.vyase(1, t, samskara=1))   # d=1, t terms, first order correction factor
series_one.loc[:, "Error"] = pi - series_one.loc[:, "Result"]    
series_one

            Result           Error
10  3.141839618929 -0.000246965340
20  3.141623806668 -0.000031153078
30  3.141601900032 -0.000009246442
40  3.141596556794 -0.000003903204
50  3.141594652591 -0.000001999001
100 3.141592903559 -0.000000249969

## Convergence with second order correction

Second order correction - the type given in the verse यत्सङ्खययात्र हरणे कृते निवृत्ता हृतिस्तु जामितया ... uses a correction term

$C_p = \frac{\frac{p+1}{2}}{(p+1)^2+1}$

Convergence is much better, as can be seen. This is considered the easiest choice for hand calculation.

In [15]:
series_two = pd.DataFrame(dtype=np.float64, index=terms, columns=["Result", "Error"])
for t in terms:
    series_two.loc[t, "Result"] = np.float64(kms.vyase(1, t, samskara=2))   # d=1, t terms, second order correction factor
series_two.loc[:, "Error"] = pi - series_two.loc[:, "Result"]    
series_two

            Result          Error
10  3.141590242371 0.000002411219
20  3.141592576187 0.000000077403
30  3.141592643344 0.000000010245
40  3.141592651154 0.000000002436
50  3.141592652791 0.000000000799
100 3.141592653565 0.000000000025

## Convergence with third order correction

The third order correction term $C_p = \frac{n^2+1}{4n^3+5n}$ is given separately in Yuktibhasha .

This leads to even quicker convergence, 10 significant decimal digits of accuracy after 30 terms.

In [16]:
series_three = pd.DataFrame(dtype=np.float64, index=terms, columns=["Result", "Error"])
for t in terms:
    series_three.loc[t, "Result"] = np.float64(kms.vyase(1, t, samskara=3))   # d=1, t terms, third order correction factor
series_three.loc[:, "Error"] = pi - series_three.loc[:, "Result"]    
series_three

            Result           Error
10  3.141592705349 -0.000000051759
20  3.141592654020 -0.000000000430
30  3.141592653615 -0.000000000025
40  3.141592653593 -0.000000000003
50  3.141592653591 -0.000000000001
100 3.141592653590 -0.000000000000

### Summing 28 terms

Summing the Madhava series to 28 terms and adding the third order correction factor is considered to have been used to derive the कटपयादि encoded expression चण्डांशुचन्द्राधमकुम्भिपालैः = 31415926536 for the circumference of a circle of diameter 10000000000, equivalent to $\pi$ to 10 decimal digits of accuracy.

In [ ]:
cc = np.float64(kms.vyase(1, 28, samskara=3))
cc

## Comparing the results so far

zoom into the graph to see the results in further detail

In [ ]:
%matplotlib notebook
results = pd.concat([series_none["Result"], series_one["Result"], series_two["Result"], series_three["Result"]], axis=1, keys=["none","1st order","2nd order","3rd order"])
results.plot(legend=True)

## Alternate Series - Incorporating corrections into the main series

These are alternate series given in Yuktibhasha that are equivalent to using व्यासे वारिधिनिहते with first and second order corrections respectively.

### Alternate series - vyasad

व्यासाद् वारिधिनिहतात् पृथगाप्तं त्र्याद्ययुग्विमूलघनैः
त्रिघ्नव्यासे स्वमृणं क्रमशः कृत्वा परिधिरानेयः ||  

This is equivalent to using the first order correction. 

$C = 3D + 4D(\frac{1}{3^3-3} - \frac{1}{5^3-5} + \frac{1}{7^3-7} ….)$

We expect the results to be similar to the first order correction - and that can be seen as true.

In [ ]:
series_onea = pd.DataFrame(dtype=np.float64, index=terms, columns=["Result", "Error"])
for t in terms:
    series_onea.loc[t, "Result"] = np.float64(kms.vyasad(1, t))   # vyasad for t terms
series_onea.loc[:, "Error"] = pi - series_onea.loc[:, "Result"]    
series_onea

### Alternate Series - samapanchahatayoh - Second order

Next, we look at the alternate series with second order correction incorporated,

    समपञ्चाहतयो या रुपाद्ययुजां चतुर्घ्नमूलयुताः 
    ताभिः षोडशगुणितात् पृथगाहृतेषु विषमयुतेः 
    समफलयुतिमपहाय स्यादिष्टव्याससंभवः परिधिः 

Equivalent to 
$C = 16D(\frac{1}{1^5+4.1} - \frac{1}{3^5+4.3} + \frac{1}{5^5+4.5} ….)$

Again, the convergence can be seen to be similar to using the original series with the second order correction term.

In [ ]:
series_twoa = pd.DataFrame(dtype=np.float64, index=terms, columns=["Result", "Error"])
for t in terms:
    series_twoa.loc[t, "Result"] = np.float64(kms.samapanchahatayoh(1, t))   # vyasad for t terms
series_twoa.loc[:, "Error"] = pi - series_twoa.loc[:, "Result"]    
series_twoa